<img
  id="disney-logo"
  src="https://pngimg.com/uploads/walt_disney/walt_disney_PNG38.png"
/>
<h6 class="text-center">
  Enjoy browsing all Disney characters available through this free Disney API!
</h6>
<hr />
<filter (sendFilterChange)="receiveFilterChange($event)"></filter>
<page-nav
  class="d-sm-flex justify-content-center"
  [receivePageChange]="page"
  [totalPages]="totalPages"
  (sendPageChange)="receivePageChange($event)"
></page-nav>
<disney-characters
  [page]="page"
  [filter]="filter"
  (sendTotalPages)="receiveTotalPages($event)"
></disney-characters>
<page-nav
  class="d-flex justify-content-center"
  [receivePageChange]="page"
  [totalPages]="totalPages"
  (sendPageChange)="receivePageChange($event)"
></page-nav>
