html {
  background: linear-gradient(90deg, #003366 0%, #23469f 100%);
}

/* Add application styles & imports to this file! */
body {
  background-color: transparent;
  font-family: 'Lato';
  padding: 25px;
  color: white;
}

#disney-logo {
  width: 200px;
  display: block;
  margin: auto;
}

h6 {
  margin: 0px;
}

input,
.btn-light {
  color: #333;
}

filter {
  padding-left: 5px;
}

ul {
  padding-top: 25px;
}

li {
  display: inline-block;
  margin: 10px;
  width: 125px;
  vertical-align: top;
}

.disney-char-img {
  width: 125px;
  margin: 10px 0 5px 0;
}

#page-nav {
  margin: auto;
  width: fit-content;
}

#page-nav div {
  margin: 5px 0 5px 0;
}

hr {
  opacity: 0.5;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
